.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px 24px;
  min-height: 300px;
}

.hero .hero-body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: var(--background-color);
}

.hero .hero-body h1,
.hero .hero-body h2,
.hero .hero-body h3 {
  margin-top: 0;
  color: var(--background-color);
}

.hero .hero-body p {
  color: var(--background-color);
}

.hero .hero-body .button-container {
  margin-bottom: 0;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
